@use '../helpers' as *;

.achievements {
  background-color: var(--color-lightgrey);

  &__list {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-block: 137px;
  }

  &__item {
    width: 288px;
    padding: 17px 20px;
    .number {
      color: var(--color-accent);
      font-family: var(--font-family-accent);
      font-size: 85px;
      line-height: 150%;
      letter-spacing: 0.02em;
      padding-bottom: 7px;
      padding-right: 20px;
    }

    .text {
      color: var(--color-grey);
      font-size: 22px;
      line-height: 150%;
      letter-spacing: 0.01em;
      padding-right: 20px;
    }
  }

  &__item:not(:last-child) {
    border-right: 1px solid var(--color-accent);
  }
}