@use '../helpers' as *;

.brands {
  padding-top: 140px;
  padding-bottom: 107px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 50px;
  }
}