@use '../helpers' as *;

.buttons {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 18px 25px 18px 34px;
  color: var(--color-light);
  border-radius: 18px;
  font-size: 18px;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  img {
    transition: 0.3s ease-in-out;
  }

  &:hover {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
    transform: scale(1.01);

    img {
      transform: translateX(4px) scaleY(0.8);
    }
  }
  &:active {
    transform: none;
  }
}

.black-btn {
  background-color: var(--color-dark);
}

.accent-btn {
  background-color: var(--color-accent);
}

