@use '../helpers' as *;

.comments {
  background-color: var(--color-lightgrey);
  border-radius: 70px;
  padding: 103px 50px 120px;

  
  &-title {
    font-family: var(--font-family-accent);
    text-align: center;
    padding-bottom: 46px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 17px;
  }

  &__item {
    background-color: var(--color-light);
    border-radius: 30px;
    padding: 50px 35px 45px;
  }

  &-person {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 26px;

    .person-name {
      font-family: var(--font-family-accent);
      font-size: 25px;
      line-height: 150%;
    }
    
    .person-location {
      color: var(--color-grey);
      font-size: 18px;
      line-height: 150%;
    }
  }

  &__text {
    color: var(--color-grey);
    font-size: 20px;
    line-height: 150%;
  }
}