@use '../helpers' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 34px;
  padding-bottom: 38px;

  .menu {
    &__list {
      display: flex;
      align-items: center;
      gap: 40px;
      font-size: 20px;
      letter-spacing: 0.02em;
    }

    &__item {

      transition: 0.3s;

      &:hover {
        color: var(--color-accent);
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 11px;
  transition: 0.3s;

  &:hover {
    transform: scale(1.01);
  }
  &:active {
    transform: none;
  }
}