@use '../helpers' as *;

.hero {
  background-image: url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  
  &__text {
    padding-top: 188px;
    padding-bottom: 258px;
  }
  .wrapper {
    max-width: 600px;

    .title {
      font-family: var(--font-family-accent);
      padding-bottom: 19px;
    }

    .subtitle {
      color: var(--color-grey);
      font-size: 22px;
      line-height: 150%;
      margin-bottom: 32px;
    }
  }
}
