@use 'helpers' as *;

html {
  height: 100%;
  scrollbar-gutter: stable;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  color: var(--color-dark);

  font-family: var(--font-family-base);
  line-height: 150%;
  letter-spacing: 0.01em;
}

main {
  flex-grow: 1;
}

h1,.h1 {
  font-size: 80px;
  line-height: 120%;
  letter-spacing: 0em;
  font-weight: 400;
}

h2,.h2 {
  font-size: 50px;
  line-height: 130%;
  letter-spacing: 0em;
}

h3,.h3 {
  font-size: 45px;
  line-height: 130%;
  letter-spacing: 0em;
}
