@use 'reset';
@use 'fonts';
@use 'globals';
@use 'utils';
@use 'variables';

@use 'blocks/buttons';

@use 'blocks/header';
@use 'blocks/hero';
@use 'blocks/priorities';
@use 'blocks/estimate';
@use 'blocks/comments';
@use 'blocks/brands';
@use 'blocks/projects';